*.lo
*.o
*~
*.c
*.tar.gz
*.la
*.vapi
*.pc
*.gir
*.typelib
*.pot
*.anjuta
.anjuta_sym_db.db
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
stamp-h1
aclocal.m4
autom4te.cache/*
Makefile
Makefile.in
m4/*
intltool-extract.in
intltool-merge.in
intltool-update.in
po/stamp-it
po/POTFILES
po/Makefile
po/Makefile.in.in
po/es.gmo
librescl/.deps/*
librescl/.goutputstream*
librescl/.libs/*
librescl/lscl.h
librescl/namespace-info.vala
plugins/Makefile
plugins/Makefile.in
plugins/default/.deps/*
plugins/default/.libs/*
plugins/default/Makefile
plugins/default/Makefile.in
plugins/default/lscl-plugin-default.h
test/.deps/*
test/.libs/*
test/Makefile
test/Makefile.in
test/librescl_test
test/tests-config.vala
vapi/Makefile
vapi/Makefile.in
